<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.topic.mapper.CollectionMapper">

    <resultMap type="com.weilai.model.topic.dos.CollectionTopic" id="CollectionMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="note" column="note"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <!-- 添加文章收藏 -->
    <insert id="insert" parameterType="com.weilai.model.topic.dos.CollectionTopic">
        INSERT INTO `collection`(user_id, article_id, folder_id, note, created_at, updated_at)
        VALUES (#{userId}, #{articleId}, #{folderId}, #{note}, #{createdAt}, #{updatedAt})
    </insert>

    <!-- 根据条件查询文章收藏 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="CollectionMap">
        SELECT * FROM `collection`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据条件查询单个文章收藏 -->
    <select id="selectOne" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="CollectionMap">
        SELECT * FROM `collection`
        <where>
            ${ew.sqlSegment}
        </where>
        LIMIT 1
    </select>

    <!-- 更新文章收藏 -->
    <update id="updateById" parameterType="com.weilai.model.topic.dos.CollectionTopic">
        UPDATE `collection`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="articleId != null">
                article_id = #{articleId},
            </if>
            <if test="folderId != null">
                folder_id = #{folderId},
            </if>
            <if test="note != null and note != ''">
                note = #{note},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
            <if test="deletedAt != null">
                deleted_at = #{deletedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>