<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.topic.mapper.FollowMapper">

    <resultMap type="com.weilai.model.topic.dos.Follow" id="FollowMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="targetType" column="target_type"/>
        <result property="targetId" column="target_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <!-- 添加关注记录 -->
    <insert id="insert" parameterType="com.weilai.model.topic.dos.Follow">
        INSERT INTO `follow`(user_id, target_type, target_id, created_at)
        VALUES (#{userId}, #{targetType}, #{targetId}, #{createdAt})
    </insert>

    <!-- 根据条件查询关注记录 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="FollowMap">
        SELECT * FROM `follow`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据条件查询单个关注记录 -->
    <select id="selectOne" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="FollowMap">
        SELECT * FROM `follow`
        <where>
            ${ew.sqlSegment}
        </where>
        LIMIT 1
    </select>

    <!-- 更新关注记录 -->
    <update id="updateById" parameterType="com.weilai.model.topic.dos.Follow">
        UPDATE `follow`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="targetType != null">
                target_type = #{targetType},
            </if>
            <if test="targetId != null">
                target_id = #{targetId},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="deletedAt != null">
                deleted_at = #{deletedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>