<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.topic.mapper.UserBehaviorMapper">

    <resultMap type="com.weilai.model.topic.dos.UserBehavior" id="UserBehaviorMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="behaviorType" column="behavior_type"/>
        <result property="duration" column="duration"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 添加用户行为追踪记录 -->
    <insert id="insert" parameterType="com.weilai.model.topic.dos.UserBehavior">
        INSERT INTO `user_behavior`(user_id, article_id, behavior_type, duration, created_at)
        VALUES (#{userId}, #{articleId}, #{behaviorType}, #{duration}, #{createdAt})
    </insert>

    <!-- 根据条件查询用户行为追踪记录 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="UserBehaviorMap">
        SELECT * FROM `user_behavior`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询用户行为追踪记录 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="UserBehaviorMap">
        SELECT * FROM `user_behavior` WHERE id = #{id}
    </select>

</mapper>