<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.streaming.mapper.LiveReservationMapper">

    <resultMap type="com.weilai.model.streaming.dos.LiveReservation" id="LiveReservationMap">
        <id property="id" column="id"/>
        <result property="liveId" column="live_id"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 添加直播预约 -->
    <insert id="insert" parameterType="com.weilai.model.streaming.dos.LiveReservation">
        INSERT INTO `live_reservation`(live_id, user_id, status, created_at)
        VALUES (#{liveId}, #{userId}, #{status}, #{createdAt})
    </insert>

    <!-- 根据条件查询直播预约 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="LiveReservationMap">
        SELECT * FROM `live_reservation`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询直播预约 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="LiveReservationMap">
        SELECT * FROM `live_reservation` WHERE id = #{id}
    </select>

    <!-- 删除直播预约 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM `live_reservation` WHERE id = #{id}
    </delete>

</mapper>