<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.streaming.mapper.LiveRewardMapper">

    <resultMap type="com.weilai.model.streaming.dos.LiveReward" id="LiveRewardMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="liveId" column="live_id"/>
        <result property="amount" column="amount"/>
        <result property="rewardType" column="reward_type"/>
        <result property="transactionId" column="transaction_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 添加直播打赏 -->
    <insert id="insert" parameterType="com.weilai.model.streaming.dos.LiveReward">
        INSERT INTO `live_reward`(user_id, live_id, amount, reward_type, transaction_id, created_at)
        VALUES (#{userId}, #{liveId}, #{amount}, #{rewardType}, #{transactionId}, #{createdAt})
    </insert>

    <!-- 根据条件查询直播打赏 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="LiveRewardMap">
        SELECT * FROM `live_reward`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询直播打赏 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="LiveRewardMap">
        SELECT * FROM `live_reward` WHERE id = #{id}
    </select>

</mapper>