<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.streaming.mapper.LiveWatchRecordMapper">

    <resultMap type="com.weilai.model.streaming.dos.LiveWatchRecord" id="LiveWatchRecordMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="liveId" column="live_id"/>
        <result property="enterTime" column="enter_time"/>
        <result property="leaveTime" column="leave_time"/>
        <result property="watchDuration" column="watch_duration"/>
        <result property="isComplete" column="is_complete"/>
    </resultMap>

    <!-- 添加直播观看记录 -->
    <insert id="insert" parameterType="com.weilai.model.streaming.dos.LiveWatchRecord">
        INSERT INTO `live_watch_record`(user_id, live_id, enter_time, leave_time, watch_duration, is_complete)
        VALUES (#{userId}, #{liveId}, #{enterTime}, #{leaveTime}, #{watchDuration}, #{isComplete})
    </insert>

    <!-- 根据条件查询直播观看记录 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="LiveWatchRecordMap">
        SELECT * FROM `live_watch_record`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询直播观看记录 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="LiveWatchRecordMap">
        SELECT * FROM `live_watch_record` WHERE id = #{id}
    </select>

</mapper>