<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.streaming.mapper.UserVirtualCurrencyMapper">

    <resultMap type="com.weilai.model.streaming.dos.UserVirtualCurrency" id="UserVirtualCurrencyMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="balance" column="balance"/>
        <result property="freezeBalance" column="freeze_balance"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 添加用户虚拟货币信息 -->
    <insert id="insert" parameterType="com.weilai.model.streaming.dos.UserVirtualCurrency">
        INSERT INTO `user_virtual_currency`(user_id, balance, freeze_balance, updated_at)
        VALUES (#{userId}, #{balance}, #{freezeBalance}, #{updatedAt})
    </insert>

    <!-- 根据条件查询用户虚拟货币信息 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="UserVirtualCurrencyMap">
        SELECT * FROM `user_virtual_currency`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询用户虚拟货币信息 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="UserVirtualCurrencyMap">
        SELECT * FROM `user_virtual_currency` WHERE id = #{id}
    </select>

    <!-- 更新用户虚拟货币信息 -->
    <update id="updateById" parameterType="com.weilai.model.streaming.dos.UserVirtualCurrency">
        UPDATE `user_virtual_currency`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
            <if test="freezeBalance != null">
                freeze_balance = #{freezeBalance},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>