<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai.streaming.mapper.VirtualCurrencyFlowMapper">

    <resultMap type="com.weilai.model.streaming.dos.VirtualCurrencyFlow" id="VirtualCurrencyFlowMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="type" column="type"/>
        <result property="relatedId" column="related_id"/>
        <result property="balanceAfter" column="balance_after"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <!-- 添加虚拟货币流水 -->
    <insert id="insert" parameterType="com.weilai.model.streaming.dos.VirtualCurrencyFlow">
        INSERT INTO `virtual_currency_flow`(user_id, amount, type, related_id, balance_after, created_at)
        VALUES (#{userId}, #{amount}, #{type}, #{relatedId}, #{balanceAfter}, #{createdAt})
    </insert>

    <!-- 根据条件查询虚拟货币流水 -->
    <select id="selectList" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" 
            resultMap="VirtualCurrencyFlowMap">
        SELECT * FROM `virtual_currency_flow`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    
    <!-- 根据ID查询虚拟货币流水 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="VirtualCurrencyFlowMap">
        SELECT * FROM `virtual_currency_flow` WHERE id = #{id}
    </select>

</mapper>